In [167]:
import pandas as pd

# To take input from user for details of students:
# df = data frame

input_method = int(input('Do you want to input data or need a pre setted data frame \n(press 0 for inputting data and 1 for presetted data frame) : '))

if input_method == 0:
    create_df = {'Roll_number':[],'Name':[],'Gender':[],'Marks1':[],'Marks2':[],'Marks3':[]}
    for data_input in range(10):
        print(f'Enter data of {data_input+1}th student')
        create_df['Roll_number'].append(int(input('Enter roll number:')))
        create_df['Name'].append(input('enter name:'))
        create_df['Gender'].append(input('enter gender(M/F)'))
        create_df['Marks1'].append(int(input('Enter Marks1')))
        create_df['Marks2'].append(int(input('Enter Marks2')))
        create_df['Marks3'].append(int(input('Enter Marks3')))
elif input_method == 1:
    create_df={'Roll_number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],   
          'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],   
          'Gender': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'F'],   
          'Marks1': [30, 69, 40, 23, 89, 45, 92, 94, 78, 87 ],   
          'Marks2': [45, 89, 67, 90, 99, 56, 23, 78, 34, 58 ],   
          'Marks3': [59, 79, 68, 100, 76, 96, 35, 78, 24, 92] }

Do you want to input data or need a pre setted data frame
(press 0 for inputting data and 1 for presetted data frame) :  1

In [148]:
# 1. To create a data frame with details of 10 students:

df = pd.DataFrame(create_df)
print(df)

   Roll_number Name Gender  Marks1  Marks2  Marks3
0            1    A      M      30      45      59
1            2    B      F      69      89      79
2            3    C      M      40      67      68
3            4    D      M      23      90     100
4            5    E      F      89      99      76
5            6    F      F      45      56      96
6            7    G      M      92      23      35
7            8    H      F      94      78      78
8            9    I      M      78      34      24
9           10    J      F      87      58      92

In [166]:
# 2. To create a new column with total marks of all students:

# 1st method:>

print("Result using method 1(manually):\n")
df['Total'] = df['Marks1'] + df['Marks2'] + df['Marks3'] 
print(df)

# 2nd method:>

print("\nResult using method 2(using iloc):\n")
df['Total'] = 0
df['Total'] = df.iloc[:,3:].sum(axis = 1)
print(df)

Result using method 1(manually):

   Roll_number Name Gender  Marks1  Marks2  Marks3  Total
0            1    A      M      30      45      59    134
1            2    B      F      69      89      79    237
2            3    C      M      40      67      68    175
3            4    D      M      23      90     100    213
4            5    E      F      89      99      76    264
5            6    F      F      45      56      96    197
6            7    G      M      92      23      35    150
7            8    H      F      94      78      78    250
8            9    I      M      78      34      24    136
9           10    J      F      87      58      92    237

Result using method 2(using iloc):

   Roll_number Name Gender  Marks1  Marks2  Marks3  Total
0            1    A      M      30      45      59    134
1            2    B      F      69      89      79    237
2            3    C      M      40      67      68    175
3            4    D      M      23      90     100    213
4            5    E      F      89      99      76    264
5            6    F      F      45      56      96    197
6            7    G      M      92      23      35    150
7            8    H      F      94      78      78    250
8            9    I      M      78      34      24    136
9           10    J      F      87      58      92    237

In [149]:
# 3. To find the lowest marks in column marks1:

low_marks1_df = df.sort_values('Marks1')
print(f'Lowest marks in marks1 : {low_marks1_df.iloc[0,3]}')

Lowest marks in marks1 : 23

In [150]:
# 4. To find the highest marks in column marks2:

high_marks2_df = df.sort_values('Marks2', ascending = False)
print(f'Highest marks in marks2 : {high_marks2_df.iloc[0,4] }')

Highest marks in marks2 : 99

In [151]:
# 5. To find the average marks in marks3:

print(f'The average of Marks3 is : {(df.iloc[:,5].sum(axis = 0))/2}')

The average of Marks3 is : 353.5

In [152]:
# 6. To find the students name with highest average:

df['Total'] = 0
df['Total'] = df.iloc[:,3:].sum(axis = 1)
df['Average'] = df['Total']/3 
high_avg_df = df.sort_values('Average', ascending = False)
print(f'Name of the student with highest average : {high_avg_df.iloc[0,1]}')
df = df.drop(columns = ['Average'])

Name of the student with highest average : E
   Roll_number Name Gender  Marks1  Marks2  Marks3  Total
0            1    A      M      30      45      59    134
1            2    B      F      69      89      79    237
2            3    C      M      40      67      68    175
3            4    D      M      23      90     100    213
4            5    E      F      89      99      76    264
5            6    F      F      45      56      96    197
6            7    G      M      92      23      35    150
7            8    H      F      94      78      78    250
8            9    I      M      78      34      24    136
9           10    J      F      87      58      92    237

In [165]:
# 7. To find how many students failed in marks2 (<40):

# using loop:
num_fail = 0
for loop_var in (df.loc[df['Marks2']<40])['Marks2']:
    num_fail += 1
print(f"Number of students failed in marks2(using loop) : {num_fail}\n")

#using len function:
fail = len(df.loc[df['Marks2']<40])
print(f'Number of students failed in marks2(using len function) : {fail}')

Number of students failed in marks2(using loop) : 2

Number of students failed in marks2(using len function) : 2

In [154]:
# 8. To create a table with "5-number summary" of all the numeric attributes.

# using describe
five_num_summary = df.iloc[:,3:6].describe().transpose()[['min', '25%', '50%', '75%', 'max']]
print("Five-Number Summary for all numeric attributes(using describe):-\n\n",five_num_summary)


#adding manually
dict_5numsum = {'Data' : ['Marks1' , 'Marks2' , 'Marks3'] , 'min_value' : [] , 'q1' : [] , 'median' : [] , 'q3' : [] , 'max_valued' : [] }

#adding data from Marks1:
dict_5numsum['min_value'].append(df['Marks1'].min())
dict_5numsum['q1'].append(df['Marks1'].quantile(0.25))
dict_5numsum['median'].append(df['Marks1'].median())
dict_5numsum['q3'].append(df['Marks1'].quantile(0.75))
dict_5numsum['max_valued'].append(df['Marks1'].max())

#adding data from Marks2:
dict_5numsum['min_value'].append(df['Marks2'].min())
dict_5numsum['q1'].append(df['Marks2'].quantile(0.25))
dict_5numsum['median'].append(df['Marks2'].median())
dict_5numsum['q3'].append(df['Marks2'].quantile(0.75))
dict_5numsum['max_valued'].append(df['Marks2'].max())

#adding data from Marks3:
dict_5numsum['min_value'].append(df['Marks3'].min())
dict_5numsum['q1'].append(df['Marks3'].quantile(0.25))
dict_5numsum['median'].append(df['Marks3'].median())
dict_5numsum['q3'].append(df['Marks3'].quantile(0.75))
dict_5numsum['max_valued'].append(df['Marks3'].max())

five_num_sum = pd.DataFrame(dict_5numsum)
print("\nFive number summary for all numeric attributes(manually):-\n\n", five_num_sum)

Five-Number Summary for all numeric attributes(using describe):-

          min    25%   50%    75%    max
Marks1  23.0  41.25  73.5  88.50   94.0
Marks2  23.0  47.75  62.5  86.25   99.0
Marks3  24.0  61.25  77.0  88.75  100.0

Five number summary for all numeric attributes(manually):-

      Data  min_value     q1  median     q3  max_valued
0  Marks1         23  41.25    73.5  88.50          94
1  Marks2         23  47.75    62.5  86.25          99
2  Marks3         24  61.25    77.0  88.75         100